a{
    text-decoration:none;
}
.listItem{
    color: black;
    font-size: large;
}
.paragraph{
    font-size: larger;
}
.img2{
    height: 50px;
    width: 50px;
}
.img1{
    height: 300px;
    width: 300px;
}
